# Database settings
database:
  # Database type: postgres, pglite
  type: postgres

  # PostgreSQL configuration (used when type: postgres)
  host: localhost
  port: 5433
  user: postgres
  password: '123456'
  database: postgres

# API settings
api:
  # Telegram API settings
  telegram:
    # Get these values from https://my.telegram.org/apps
    apiId: '611335'
    apiHash: d524b414d21f4d37f08684c1df41ac9c

    # proxy:
    #   proxyUrl: 'socks5://username:password@proxy.example.com:1080?timeout=15'
